<div style="text-align: center;">
    <h1 style="background-color: #f4f4f4; color:black; width:100%; border-radius:40px;">Header For
        everyone</h1>
</div>
<div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="">Andi</a>
</div>
<h1>{{name}}</h1>
